################################################
###       environment config file            ###
################################################
DOCKER_VAR_ROOT=/data/docker/var
DOCKER_SUBNET=172.252.0.0/16

############# Container source.list ############
REPLACE_SOURCE_LIST=true

#################### Openrestry #####################
NGINX_HTTP_HOST_PORT=80
NGINX_HTTPS_HOST_PORT=443
NGINX_APPLICATION_DIR=/data/source
NGINX_DOCKER_CONF_ROOT=/data/docker/openresty
NGINX_IP=172.252.0.2

#################### PHP7.X ####################
PHP_LISTEN_HOST_PORT=9000
PHP_PHP_CONF_FILE=/data/docker/php/php.ini
PHP_FPM_CONF_FILE=/data/docker/php/php-fpm.conf
PHP_FPM_POOL_CONF_FILE=/data/docker/php/fpm_www.conf
PHP_APPLICATION_ROOT_DIR=/data/source
PHP_IP=172.252.0.5

#################### MySQL #####################
MYSQL_VERSION=8.0.13
MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD=jim
MYSQL_DATA_DIR=/data/docker/mysql/mysql
MYSQL_CONF_FILE=/data/docker/mysql/mysql.cnf
MYSQL_IP=172.252.0.3

#################### Redis #####################
REDIS_VERSION=5.0.3-alpine
REDIS_HOST_PORT=6379
REDIS_CONF_FILE=/data/docker/redis/redis.conf
REDIS_ROOT_DIR=/data/docker/redis
REDIS_IP=172.252.0.4
